@import "tailwindcss";

#root {
  flex: 1;
  padding-inline: 1.5rem;
  padding-bottom: 1.5rem;
}

.flex-column {
  display: flex;
  flex-flow: column;
}

.gap05rem {
  gap: 0.5rem;
}

.gap1rem {
  gap: 1rem;
}

.height-500 {
  height: 500px;
}

p,
h3 {
  margin-block: 0.5rem;
}

ul {
  margin-block-start: 0;
  padding-inline-start: 2rem;
}

textarea {
  background-color: rgba(255, 255, 255, 0.09);
  border-radius: 6px;
  padding: 0.5rem;
}

textarea:focus {
  border: 1px solid darkcyan;
  transition: all 0.2s ease;
}

code {
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 4px;
  font-size: .88em;
  padding: 4px 4px;
  white-space: pre;
}

fieldset {
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  padding: 10px;
  margin: 0px;
  overflow: hidden;
}

* {
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo", monospace;
}

.code-label {
  display: flex;
  align-items: center;
  width: 150px;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: gray;
}

.code-label code {
  flex-grow: 1;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trash-btn {
  background: none;
  border: none;
  color: #888;
  font-size: 16px;
  cursor: pointer;
  padding: 4px;
  transition: color 0.2s ease-in-out;
}

.trash-btn:hover {
  color: red;
}

.display-flex {
  display: flex;
}

.padding-block {
  padding-block: 4px;
}

.btn-container {
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  padding-inline-start: 2rem;
  padding-block-end: 0.75rem;
}

.btn-container input {
  padding: 6px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.09);
  border-radius: 6px 0 0 6px;
  box-sizing: border-box;
}

.btn-container input:focus {
  border: 1px solid darkcyan;
  transition: all 0.2s ease;
}

.btn-container button {
  background-color: darkcyan;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0 6px 6px 0;
  transition: all 0.2s ease;
}

.btn-container button:hover {
  filter: brightness(80%);
}
